<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Checker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    {% extends "base.html"%}
    {% block content %}

    <div class="jumbotron">
        <table>
            <ul>
                <ol>{{first}}</ol>
                <ol>{{second}}</ol>
                <ol>{{third}}</ol>
                <ol>{{fourth}}</ol>
                <ol>{{message}}</ol>
            </ul>
        </table>
    </div>
    {% endblock %}

</body>

</html>